<p class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
  {% if current_variant.compare_at_price > current_variant.price %}
  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
  <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
  <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
    <span id="ProductPrice-{{ section.id }}"
          itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
      {{ current_variant.price | money}}
    </span>

    <span class="product-price__sale-label product-price__sale-label-{{ section.id }}">{{ 'products.product.on_sale' | t }}</span>
  </span>
  {% else %}
  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
  <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
  <span class="product-price__price product-price__price-{{ section.id }}">
    <span id="ProductPrice-{{ section.id }}"
          itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
      {{ current_variant.price | money_without_trailing_zeros}}
    </span>

    <span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{{ 'products.product.on_sale' | t }}</span>
  </span>
  {% endif %}
</p>