<div class="love-middle-container">
  <div class="blue-container" id="content">
    <div class="page-width">
      <div class="grid">
        <div class="recipes-landing-page grid__item medium-up--five-sixths medium-up--push-one-twelfth">
          <h1 class="uppercase text-center">Here's what Almond Cow<br>Lovers are saying...</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="love-bottom-container">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--one-third text-center">
        <img src="{{ 'Jessica.png' | asset_url }}" />
        <h2>"BEST INVENTION"</h2>
        <p>Our whole family is dairy-sensitive, and this machine has made life so much easier. It makes plant-based milk in moments - no straining, no mess. The machine is easy to use and clean, and it comes with a ton of yummy recipes. I am obsessed with mine!</p>
        <p class="uppercase">- Jessica <span><a href="https://www.instagram.com/barebeautyblog/" class="blue-text" target="_blank">@barebeautyblog</a></span></p>
      </div>
      <div class="grid__item medium-up--one-third text-center">
        <img src="{{ 'Gina.png' | asset_url }}" />
        <h2>"IT’S MAGICAL"</h2>
        <p>This magical jug makes dairy-free milk in moments. It’s the best invention!</p>
        <p class="uppercase">- Gina <span><a href="https://www.instagram.com/ginabnutrition/" class="blue-text" target="_blank">@ginabnutrition</a></span></p>
      </div>
      <div class="grid__item medium-up--one-third text-center">
        <img src="{{ 'breakfastnbowls.png' | asset_url }}" />
        <h2>"TOTALLY IN LOVE"</h2>
        <p>I’ll never buy almond milk at the store again! The freshness, the taste, the price, and the clean ingredient list convinced me – it’s so easy to prepare with my Almond Cow. No straining required!</p>
        <p class="uppercase">- Anita <span><a href="https://www.instagram.com/breakfastnbowls/" class="blue-text" target="_blank">@breakfastnbowls</a></span></p>
      </div>
    </div>
    <div class="grid">
      <div class="grid__item medium-up--one-third text-center">
        <img src="{{ 'drjkahn.png' | asset_url }}" />
        <h2>"Almond Cow is a path to health"</h2>
        <p>When the right thing to do is the easy thing to do you will move the needle of health by a quantum leap. The Almond Cow makes it easy to do the right thing</p>
        <p class="uppercase">- Joel <span><a href="https://www.instagram.com/drjkahn/" class="blue-text" target="_blank">@drjkahn</a></span></p>
      </div>
      <div class="grid__item medium-up--one-third text-center">
        <img src="{{ 'melissas.png' | asset_url }}" />
        <h2>"It’s my favorite!"</h2>
        <p>This is my new favorite kitchen gadget! So easy to use and you can use any nut, seed, or grain!</p>
        <p class="uppercase">- Melissa <span><a href="https://www.instagram.com/melissas_healthykitchen/" class="blue-text" target="_blank">@melissas_healthykitchen</a></span></p>
      </div>
      <div class="grid__item medium-up--one-third text-center">
        <img src="{{ 'hailethomas.png' | asset_url }}" />
        <h2>"A dream come true!"</h2>
        <p>With Almond Cow, dreams come true. This game-changing machine turns any grain, nut, or seed into smooth and rich plant-based milk. With an incredibly simple set-up & clean-up, it’s perfect for everyone. Not only can you customize the entire flavor experience, you can also be empowered by knowing exactly what you put into your milk w/out any cows harmed in the making!</p>
        <p class="uppercase">- Haile <span><a href="https://www.instagram.com/hailethomas/" class="blue-text" target="_blank">@hailethomas</a></span></p>
      </div>
    </div>
  </div>
</div>
