<style>
  
  @media only screen and (min-width: 750px){
    #shopify-section-header{
      position: absolute;
      z-index: 8;
    }
    .site-header{
      background-color: transparent;
    }
    .main-content{ padding-top: 0 !important; }
  }
  .custom_mobile_nav .site-nav>li>a{
    color: #fffff0;
  }

</style>
<div class="about_container">
  <div class="about_us_top_img">
    <div class="overlay_banner about_image"></div>
    <h1 class="about_title uppercase cream-text">Our Story</h1>
    <a href="#about-content" class="text-center about_arrow_position"><img class="about-page-brown-arrow" src="{{'arrow_white.png' | asset_url}}" /></a>
  </div>
  <div id="about-content" class="text-center about_content">
    
    <img class="nut-left" src="{{ 'left-bar.jpg' | asset_url }}" />
    <img class="nut-right" src="{{ 'right-bar.jpg' | asset_url }}" />
   
    <div class="page-width">
      <div class="grid">
        <div class="recipes-landing-page medium-up--four-sixths margin-auto">
          <div class="text-part-1">
            <p>We’ve always loved plant-based milk, but not the mysterious ingredients in store-bought kinds or the hassle of making it ourselves. We were tired of paying inflated prices for premium plant-based milks and the plastic waste they generated.
              We knew there had to be a better way, so we created the perfect milk maker.</p>
          </div>
          <h1 class="blue-text uppercase">
            Almond Cow changes everything.
          </h1>
          <p style="padding-top: 30px;">We’ve created Almond Cow so that the experience of making milk at home becomes so simple (and fun!), you’ll never consider buying it at the store again.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bio_part">
<!--     <img src="{{ 'cream-top.jpg' | asset_url }}" /> -->
    <div class="page-width">
      <h1 class="uppercase text-center">Meet the team</h1>
      <div class="grid about_info text-center">
        <div class="grid__item medium-up--one-third">

          {{ 'Hannah.png' | asset_url | img_tag }}        

          <h2 class="uppercase">Hannah</h2>
          <a href="http://healthfullyhannah.com" class="blue-text" target="_blank">Healthfully Hannah</a>
          <p>
            As a nutritionist, Hannah is passionate about clean eating and empowering others to transform their health through simple everyday choices.
            She believes Almond Cow is the perfect solution for those who are dairy-free, plant-based, anyone with food allergies, sensitivities,
            or digestive issues, and just health nuts in general (no pun intended) as it empowers you to source the quality of each & every ingredient - the process couldn’t be any simpler!
          </p>

        </div>
<!--         <div class="grid__item medium-up--one-third">

          {{ 'Brett.png' | asset_url | img_tag }}

          <h2 class="uppercase">Brett</h2>
          <p class="about_info_text">
            An engineer by training and a product designer by trade, Brett is passionate about reducing packaging waste & improving agricultural sustainability.
            Creating Almond Cow was a combination of all of the above.
            Every milk maker that lands on a doorstep represents the potential to eliminate hundreds of plastic bottles
            and pointless transportation - all while empowering others to build a better diet.
          </p>

        </div> -->
        <div class="grid__item medium-up--one-third">

          {{ 'Chris.png' | asset_url | img_tag }}

          <h2 class="uppercase">Chris</h2>
          <p class="about_info_text">
            As Head of Logistics, Chris brings a clever, creative, customer-centric approach to our logistics and fulfillment efforts. His passion for sustainability
            and Nature along with an insatiable curiosity and desire for learning helps us move forward with our mission of reducing packaging waste
            while bringing you the most delightful, empowering milk-making experience possible.
          </p>

        </div>
        <div class="grid__item medium-up--one-third">

          {{ 'Ashley.png' | asset_url | img_tag }}

          <h2 class="uppercase">Ashley</h2>
          <p class="about_info_text">
            With her unique background in both culinary/hospitality and business marketing,
            Ashley shares her love for healthy living and passion for taking care of others every day.
            She enjoys the creativity you can have when making plant-based milks in the Almond Cow and the simplicity of the process.
            She is head of Customer Care and manages our Twitter and Pinterest.
          </p>

        </div>
        <div class="grid__item medium-up--one-third">

          {{ 'Elissa.png' | asset_url | img_tag }}

          <h2 class="uppercase">Elissa</h2>
          <p class="about_info_text">
            Elissa, a health-conscious mother of a child with allergies, first discovered Almond Cow on social media.
            She knew that this product was more than just a kitchen appliance – it provided a peace of mind that you cannot buy in stores.
            Elissa jumped at the opportunity to join the team knowing that she wanted to be a part of this revolution, now she works as our Creative Director.
          </p>

        </div>
        <div class="grid__item medium-up--one-third">

          {{ 'Elizabeth.png' | asset_url | img_tag }}

          <h2 class="uppercase">Elizabeth</h2>
          <p class="about_info_text">
            Elizabeth, a healthy lifestyle blogger and marketing professional, loves inspiring others through easy, healthy recipes.
            She first discovered Almond Cow on her own search for a quicker way to make homemade plant-based milks.
            Soon after,she ditched her nut milk bag and store bought milk and joined our team! She manages our Instagram, blog,
            and is always on the search for a nutty pun.
          </p>

        </div>
        <div class="grid__item medium-up--one-third">

          {{ 'Oge.png' | asset_url | img_tag }}

          <h2 class="uppercase">Oge</h2>
          <p class="about_info_text">
            As a Biology student, passionate about nutrition and health food,
            Oge enjoys experimenting with and testing out the milks to determine shelf-life and other nutritional factors.
            She incorporates this enthusiasm into being part of our Logistics and Fulfillment team.
          </p>

        </div>
      </div>
    </div>
  </div>
  
</div>